.DS_Store
build/

*.o
*.elf
*.map
*.bin
*.d01
*.pay
*.PAY
*.sqfs
__pycache__/
*.pyc

!artifacts/LINUX.PAY
!artifacts/*.d01
!artifacts/*.sqfs
!artifacts/milestones/*.pay
!artifacts/milestones/*.PAY

tools/libexword/users.dat
tools/libexword/.exword_history
